<!DOCTYPE html>

    <head>
        <style>
            .button {
              color:white;
              background-color:lightskyblue;
              padding:15px;


            }
            
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OCR</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
          <center><font color="grey"
            > <h1>Image to Text</h1> </font><center>
            <form action="/upload" method="POST" enctype="multipart/form-data">
           
             
                <input type="file" name="avatar" />
               
                &nbsp  &nbsp  &nbsp 
             <button type="submit" class="button">Convert</button>
           
            </form>
            <br><br>
          <img src="https://dhwwtar19mmjy.cloudfront.net/apowercom/wp-content/uploads/2017/06/ocr-software.jpg.webp">
    </body>
</html>