<!DOCTYPE html>

    <head>
        <style>
            .button {
              color:white;
              background-color:red;
              padding:15px;


            }
            
        </style>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Image to PDF</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
          <center> <h1>Image to PDF</h1> <center>
            <form action="/upload" method="POST" enctype="multipart/form-data">
           
             
                <input type="file" name="avatar" />
               
                &nbsp  &nbsp  &nbsp 
             <button type="submit" class="button">Convert</button>
            </form>
     
    </body>
</html>